.dividerColor {
  border-color: #ff564f;
}

.linkBox {
  height: 72px;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
  text-align: center;
  text-decoration: none;
}

.linkText {
  align-items: center;
  background-color: #faf9f8;
  border: 1px solid #ff564f;
  border-right: none;
  border-bottom: none;
  border-left: none;
  display: flex;
  justify-content: center;
  height: 80px;
  margin-bottom: -8px;
  padding-top: 6px;
}

.linkWrapper:hover {
  text-decoration: none;
}
